<launch>

    <!-- Pepper Responsive Node-->
    <node name="pepper_controller" pkg="brl_pepper" type="pepper.py" respawn="false" >
  </node>

    <!-- Pepper Code Node-->
    <arg name = "set" />
    <arg name = "participant" />
    <node name ="pepper_Orbbec" pkg="master_dissertation" type="my_pepper_serviceClient.py" respawn="false" output="screen" args = "$(arg participant) $(arg set)">
    </node>



    <!-- Pepper Responsive Node -->
    <node name="body_data_saver" pkg="master_dissertation" type="data_storing_service.py" respawn="false">
    </node>

    <!-- Astra Camera Node -->
    <node name="astra_body_tracker_node" pkg="astra_body_tracker" type="astra_body_tracker_node" >
    </node>

    <!-- RVIZ node -->
    <!--node pkg="rviz" type="rviz" name="$(anon rviz)" args="~/.rviz/pepper.rviz" /-->
    <!-- https://github.com/cse481sp17/cse481c/wiki/Lab-11:-Visualizations-in-ROS-with-RViz -->
  </launch>
