<launch>
    <!-- Pepper Code Node-->
    <arg name = "ID" />
    <arg name = "BagStatus" />
    <node name ="pepper_Orbbec" pkg="master_dissertation" type="my_pepper.py" respawn="false" output="screen" args = "$(arg ID) $(arg BagStatus)" >
    </node>

    <!-- Astra Camera Node -->
    <node name="astra_body_tracker_node" pkg="astra_body_tracker" type="astra_body_tracker_node" >
    </node>

    <!-- Pepper Responsive Node-->
    <!--node name="pepper_controller" pkg="master_dissertation" type="pepper.py" respawn="false" >
  </node-->

    <!-- Pepper Responsive Node -->
    <node name="body_data_saver" pkg="master_dissertation" type="data_storing_flag.py" respawn="false">
    </node>

    <!-- RVIZ node -->
    <!--node pkg="rviz" type="rviz" name="$(anon rviz)" args="~/.rviz/pepper.rviz" /-->
    <!-- https://github.com/cse481sp17/cse481c/wiki/Lab-11:-Visualizations-in-ROS-with-RViz -->
  </launch>
