<launch>
  <!-- Variable to input on the teminal window -->
    <arg name = "set" />
    <arg name = "participant" />
    <!-- CAREFUL WITH SPACE WHEN INPUTTING THE VARIABLES -->

    <!-- ROSBAG play-->
    <!-- <node pkg ="rosbag" type="play" name="rosbag" args="-l /home/generic/ros_workspaces/coach_demo/src/master_dissertation/experiment_bags/$(arg BagName).bag"/> -->
    <node pkg ="rosbag" type="play" name="rosbag" args="-l /home/pepper/catkin_ws/src/master_dissertation/experiment_bags/participant_$(arg participant)/set_$(arg set).bag"/>

    <!-- Broadcast the Skeleton message into TF messages Node-->
    <node name="body_data_handling" pkg="master_dissertation" type="tf_broadcaster.py" respawn="true" >
    </node>
    <!-- RVIZ node -->
    <node pkg="rviz" type="rviz" name="$(anon rviz)" args="/home/generic/.rviz/pepper.rviz" />
    <!-- https://github.com/cse481sp17/cse481c/wiki/Lab-11:-Visualizations-in-ROS-with-RViz -->
  </launch>

<!--Perfectly works-->
